# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/node_modules


# misc
package-lock.json
backend.code-workspace
uploads
nodemon.json
.DS_Store
/.vscode